---
layout: changelog_front
title: Changelog
permalink: /changelog/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            {% for post in site.categories['changelog'] %}
            <div class="changelog">
                <h1>GOST {{ post.version }} - {{ post.published }}</h1>
                <ul>
                    {% for change in post.changes %}
                        <li>{{ change }}</li>
                    {% endfor %}
                </ul>
                <h3>DOCKER</h3>
                {% for d in post.docker %}
                    <a href="https://hub.docker.com/r/geodan/gost/tags/">{{ d }}</a><br/>
                {% endfor %}
                <h3>BINARIES</h3>
                <a href="{{ post.binaries }}">DOWNLOAD PAGE</a>
            </div>
            <div class="hline"></div>
            <div class="spacing"></div>
            {% endfor %}
        </div>
    </div>
</div>