<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="GOST, Geodan, open-source, opensource, open source, SensorThings, Sensor Things, OGC, Standard, Sensors, Sensor, IoT, Golang, Go, SOS, SWE, GitHub, MQTT">
    <meta name="author" content="Tim Ebben">
    <meta name="google-site-verification" content="xX7udwpopbooPkpbBYfGim1w3CMJ_9CVIZM6O2pNreM" />
    <meta name="google-site-verification" content="tzfgsK_w2Lf_7Gufg0DOgPS_NlVgD5mZbccpS-kDLcA" />
    {% seo %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/ico/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ "/assets/ico/manifest.json" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/assets/ico/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>