---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}" alt=""></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><small>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</small></p>

            {{ content }}
            {% if post.comments != 0 %}
            {% include  disqus.html %}
            {% endif %}
            <div class="spacing"></div>
        </div>
        {% include sidebar.html %}
    </div>
</div>